.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 30px 0;
  gap: 120px;

  .home-section {
    width: 100%;
  }
}
