.carousel-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  padding: 0 20px;

  .carousel-container-pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    padding: 0 50px 0 20px;

    .carousel-container-pagination-button {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.5;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;

      &.disabled {
        opacity: 0.2;
        cursor: not-allowed;
      }

      &.active {
        opacity: 1;
      }

      &:hover {
        opacity: 1;
        background-color: #33333380;
      }

      @media (max-width: 768px) {
        transform: scale(1.3);
      }
    }
  }

  .carousel-container-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: all 0.3s ease-in-out;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 700px) {
      overflow-x: scroll;
      width: fit-content;
    }
  }

  .carousel-container-dots {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;

    .carousel-dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.5;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &.active {
        opacity: 1;
        background-color: darkslateblue;
      }

      &:hover {
        opacity: 1;
        background-color: #33333380;
      }
    }
  }
}
